@font-face {
  font-family: "Gotham Pro Light";
  src: url(../fonts/GothamPro-Light.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url(../fonts/GothamPro-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #292929;
  color: #fff;
  font-family: "GothamPro", sans-serif;
  margin: 0;
}
.header {
  padding-top: 50px;
}
.text-color-red {
  color: #ff3469;
  font-family: "Gotham Pro Medium";
}
.header_description {
  font-family: "GothamPro-Light";
  letter-spacing: 0.12px;
  font-size: 12px;
}
.header_phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.2px;
  display: block;
  text-align: right;
}
.header_info {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
  text-align: right;
}
.collback {
  color: #ff3469;
  font-size: 16px;
  font-family: "Gotham Pro";
  letter-spacing: 0.16px;
  display: block;
  text-align: right;
  margin-top: 16px;
}
.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 103px;
  border-bottom: 1px solid #4c4c4c;
}
.hero_title {
  font-size: 34px;
  margin-bottom: 33px;
  text-transform: uppercase;
}
.hero_discription {
  font-family: GothamPro-Light;
  letter-spacing: 0.18px;
  font-size: 18px;

  line-height: 1.4;
}
.flowers_slider {
  margin-top: 99px;
  margin-bottom: 80px;
  width: 100%;
}
:root {
  --swiper-navigation-size: 18;
}
.cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  font-family: GothamPro-Light;
}
.flower_buy {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 30px 65px;
  margin-top: 66px;

  background-color: #ff2e55;
}
.reviews {
  margin-top: 99px;
}
.section_title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
}
